services:
  postgres:
    image: postgres:18.0
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/data
    networks:
      - app-network
  valkey:
    image: valkey/valkey:9.0
    ports:
      - "6379:6379"
    volumes:
      - valkey_data:/data
    networks:
      - app-network
  mailpit:
    image: axllent/mailpit
    volumes:
      - mailpit_data:/data
    ports:
      - 8025:8025
      - 1025:1025
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
    networks:
      - app-network
  localstack:
    image: localstack/localstack:latest
    networks:
      - app-network
    ports:
      - 4566:4566 # LocalStack Gateway
      - 4510-4559:4510-4559 # External services port range
    environment:
      - DEBUG=0
      - SERVICES=s3
      - LOCALSTACK_HOST=localstack
      - PERSISTENCE=1
      - LOCALSTACK_HOSTNAME=localstack
      - EDGE_PORT=4566
    volumes:
      - localstack_data:/var/lib/localstack
      - "/var/run/docker.sock:/var/run/docker.sock"
volumes:
  postgres_data:
  valkey_data:
  mailpit_data:
  imgproxy_data:
  localstack_data:

networks:
  app-network:
    driver: bridge
