services:
  postgres:
    image: postgres:18.0
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/data
    networks:
      - app-network

  valkey:
    image: valkey/valkey:9.0
    ports:
      - "6379:6379"
    volumes:
      - valkey_data:/data
    networks:
      - app-network


  minio-console:
    image: ghcr.io/georgmangold/console
    ports:
      - 9090:9090
    networks:
      - app-network
    environment:
      - MINIO_ENDPOINT=http://minio:9000
      - MINIO_ACCESS_KEY=user
      - MINIO_SECRET_KEY=password
    depends_on:
      - minio

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    ports:
      - "9000:9000"
    networks:
      - app-network
    command: server /data
    volumes:
      - "minio_data:/data"
    environment:
      - MINIO_ROOT_USER=user
      - MINIO_ROOT_PASSWORD=password

  mailpit:
    image: axllent/mailpit
    volumes:
      - mailpit_data:/data
    ports:
      - 8025:8025
      - 1025:1025
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
    networks:
      - app-network

  imgproxy:
    image: darthsim/imgproxy:v3.30.0
    ports:
      - 8080:8080
    networks:
      - app-network
    volumes:
      - imgproxy_data:/data
    environment:
      - IMGPROXY_USE_S3=true
      - IMGPROXY_S3_ENDPOINT=http://minio:9000/
      - IMGPROXY_S3_REGION=local
      - AWS_ACCESS_KEY_ID=user
      - AWS_SECRET_ACCESS_KEY=password
      - IMGPROXY_USE_S3_FORCE_PATH_STYLE=true
      - IMGPROXY_ALLOW_UNSAFE_URLS=true
      - IMGPROXY_STRIP_METADATA=true
      - IMGPROXY_STRIP_COLOR_PROFILE=true
      - IMGPROXY_QUALITY=80
    links:
      - minio

volumes:
  postgres_data:
  valkey_data:
  mailpit_data:
  imgproxy_data:
  minio_data:
    driver: local

networks:
  app-network:
    driver: bridge
