# app
PORT=8000
BASE_URL=http://localhost:8000
NODE_ENV=development

# auth
AUTH_SECRET=ddcc746cb90cd191da9dc81891e086a5da00aa17120e6b24d068372a60a4ba67
AUTH_TRUSTED_ORIGINS=http://localhost:3000

# database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres

# cache
CACHE_URL=redis://localhost:6379

# email
MAIL_DOMAIN=example.com

# storage
STORAGE_URL=http://localhost:9000
STORAGE_REGION=us-east-1
STORAGE_ACCESS_KEY=admin
STORAGE_SECRET_KEY=admin
